@charset "UTF-8";

html, body {
	font-family: sans-serif;
	text-align: center;
	position: center;
}
h1, p {
	background-color: black;
	color:teal;
}

h1 {
	font-size: 50px;
	font-weight:bold;
}

p {
	text-align: center;
	font-size: 25px;
	
}

h2 {
	text-align: center;
	font-size: 15px;
	color: teal;
}



.main {
	text-align: center;
	position: relative;


}


.footer {
	text-align: center;
	font-weight: bold;
	color: teal;
	position: relative;

}
span {
	color:white;
}



.container {
	background-color: teal;
	opacity: .75;

}

form {
	text-align:center;
	border: 2px dotted teal;
	position:relative;
	background-color: teal;
}